---
layout: default
---

<section id="about">
    <div class="section-right offset">
        <p class="bio">
            I am a health IT developer currently residing in the San Francisco Bay Area.  I have worked on projects ranging from security &amp; policy consulting, business planning, social media strategy &amp; technology developement.  
        </p>
    </div>
</section>


<section id="blog">
    <div class="section-title">
        <h2>Writing</h2>
    </div>
    <div class="section-body">
        <ul>
            {% for post in site.posts %}
            <li class="blog-entry">
                <span class="blog-date">
                    {{ post.date | date: "%B %d, %Y" }}
                </span>
                <span class="blog-desc">
                    <a href="{{ post.url }}" class="blog-title">{{ post.title }}</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>




<section id="projects">
    <div class="section-title">
        <h2>Projects</h2>
    </div>
    <div class="section-title">
        <h3>Technical Work</h3>
    </div>
    <div class="section-body">
        <ul>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.directtrust.org">DirectTrust</a>
                </span>
                <span class="project-desc">
                    Developed business &amp; technical recommendations to automate the Direct Trust Trust Anchor Distribution System, including budget, resource allocation, technical requirements, security audit &amp; workflow processes.  
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.getaround.com">Getaround</a>
                </span>
                <span class="project-desc">
                    Hardware development, prototyping, &amp; troubleshooting contract to expidite the deployment of new hardware into production.  Also built an install toolkit using Python, Bottle &amp; SQLite.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.cancer.gov/cancertopics/factsheet/clinicaltrials/clinical-trials">Clinical Trials Map</a>
                </span>
                <span class="project-desc">
                    Created a national map visualization for ongoing relevent cancer clinical trials within the NIH database with Scrappy, SQLAlchemey &amp; d3js..
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="/media/WTFDenied-presentation.pdf">WTFDenied</a>
                </span>
                <span class="project-desc">
                    EoB redesign &amp; BlueButton implementation hackathon app for Health2.0/ONC Power to the Patient Hackathon.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="https://www.doxnosis.org">doxnosis</a>
                </span>
                <span class="project-desc">
                    Data privacy &amp; ownership rights advocacy group for the health, wellness &amp; medical app market. 
                </span>
            </li>
            
            <li class="project">
                <span class="project-name">
                    <a href="http://www.youtube.com/watch?v=sX3jA8qk5H8">Arduino</a>
                </span>
                <span class="project-desc">
                    Several home automation projects involving Arduino, RaspberryPi, 3D printing and programming.
                </span>
            </li>
        </ul>
    </div>

    <div class="section-title">
        <h3>Community Work</h3>
    </div>
    <div class="section-body">
        <ul>
            <li class="project">
                <span class="project-name">
                    <a href="https://wwww.health2con.com">Health2.0</a>
                </span>
                <span class="project-desc">
                    Technical lead &amp; content manager for the Health2.0 San Francisco chapter.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.himssmedia.com/">HIMSS Media</a>
                </span>
                <span class="project-desc">
                    Contributing writer focusing on mobile healthcare privacy, security &amp; project management methodology &amp; health IT start-ups.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.healthtechwomen.com">HealthTechWomen</a>
                </span>
                <span class="project-desc">
                    Core developer &amp; content contributor for the San Francisco Flagship chapter.
                </span>
            </li>
             <li class="project">
                <span class="project-name">
                    <a href="http://tedxsf.org">TEDxSF</a>
                </span>
                <span class="project-desc">
                    New media stratigest &amp; A/V support for conference events.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.women2.com">Women2.0</a>
                </span>
                <span class="project-desc">
                       Feature writer for women's health issues, healthcare policy &amp; technical regulations in the start-up community.
                </span>
            </li>
        </ul>
    </div>
</section>





