---
layout: default
---

<section id="about">
    <div class="section-right offset">
        <p class="bio">
            I am a health IT developer currently residing in the San Francisco Bay Area.  I have worked on projects ranging from security &amp; policy consulting, business planning, social media strategy &amp; technology developement.  
        </p>
    </div>
</section>


<section id="blog">
    <div class="section-title">
        <h2>Writing</h2>
    </div>
    <div class="section-body">
        <ul>
            {% for post in site.posts %}
            <li class="blog-entry">
                <span class="blog-date">
                    {{ post.date | date: "%B %d, %Y" }}
                </span>
                <span class="blog-desc">
                    <a href="{{ post.url }}" class="blog-title">{{ post.title }}</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>




<section id="projects">
    <div class="section-title">
        <h2>Projects</h2>
    </div>
    <div class="section-title">
        <h3>Technical Work</h3>
    </div>
    <div class="section-body">
        <ul>
        <li class="project">
                    <span class="project-name">
                    <a href="http://www.dicomgrid.com">DICOMGrid</a>
                    </span>
                     <span class="project-desc">
                    All things healthcare &amp; medical device <a href="http://www.fda.gov/MedicalDevices/">regulation</a>, policy &amp; compliance with a side of mobile health QA &amp; health IT Product Management.
                    </span>
         </li>
         
          <li class="project">
                <span class="project-name">
                 <a href="http://www.directtrust.org">DirectTrust</a>
                </span>
                <span class="project-desc">
                    Developed business &amp; technical recommendations to automate the <a href="http://wiki.directproject.org/">DirectProject</a>  DirectTrust Anchor Distribution System, including budget, resource allocation, technical requirements, security audit &amp; workflow processes.  
                </span>
          </li>
          
            <li class="project">
                <span class="project-name">
                    <a href="http://www.getaround.com">Getaround</a>
                </span>
                <span class="project-desc">
                    Hardware <a href="/media/ck3.jpeg">development</a>, <a href="/media/fob.jpeg">prototyping</a>, &amp; troubleshooting contract to expidite the deployment of new hardware into production.  Lead developer for in-house install toolkit using Python, <a href="http://bottlepy.org/docs/dev/index.html">Bottle</a> &amp; SQLite.
                </span>
            </li>
            
            <li class="project">
                <span class="project-name">
                    <a href="http://www.cancer.gov/cancertopics/factsheet/clinicaltrials/clinical-trials">Clinical Trials Map</a>
                </span>
                <span class="project-desc">
                    Created a national map visualization for ongoing relevent cancer clinical trials within the <a href="http://www.cancer.gov/clinicaltrials">NIH database</a> with <a href="http://scrapy.org/">Scrappy</a>, SQLAlchemey &amp; <a href="http://d3js.org/">d3js</a>.
                </span>
            </li>
            
            <li class="project">
                <span class="project-name">
                    <a href="/media/WTFDenied-presentation.pdf">WTFDenied</a>
                </span>
                <span class="project-desc">
                    EoB redesign &amp; <a href="http://www.healthit.gov/bluebutton">BlueButton</a> implementation hackathon app for <a href="http://www.health2con.com/devchallenge/code-a-thon-old/">Health2.0/ONC Power to the Patient</a> Hackathon.
                </span>
            </li>
            
            <li class="project">
                <span class="project-name">
                    <a href="https://www.doxnosis.org">doxnosis</a>
                </span>
                <span class="project-desc">
                    Data privacy &amp; ownership rights advocacy group for the health, wellness &amp; medical app market. 
                </span>
            </li>
            
            <li class="project">
                <span class="project-name">
                    <a href="http://en.wikipedia.org/wiki/Hackathon">Hackathons</a>
                </span>
                <span class="project-desc">
                    Serial SF hackathon-er, including wins at <a href="http://munimobile.herokuapp.com/">Linkedin's HackHERthon</a>, <a href="http://doesparkingsuck.herokuapp.com/">ESPNW</a>, <a href="http://photovoyage.herokuapp.com/">Facebook</a> &amp; <a href="http://makezine.com/2013/10/11/silicon-chef-female-focused-hardware-hackathon/">SiliconChef.</a>
                </span>
            </li>
            
            <li class="project">
                <span class="project-name">
                    <a href="http://www.youtube.com/watch?v=sX3jA8qk5H8">Hardware Hacker</a>
                </span>
                <span class="project-desc">
                    Several home automation projects involving <a href="http://www.vansaircraft.com/public/rv12.htm">aviation</a>, <a href="/media/arduino.jpeg">Arduino</a>, <a href="/media/rpi.jpeg">RaspberryPi</a>, <a href="/media/3dp.jpeg">3D printing</a> &amp; <a href="/media/rocket.jpeg">programming.</a>
                </span>
            </li>
            
        </ul>
    </div>

    <div class="section-title">
        <h3>Community Work</h3>
    </div>
    <div class="section-body">
        <ul>
            <li class="project">
                <span class="project-name">
                    <a href="https://wwww.health2con.com">Health2.0</a>
                </span>
                <span class="project-desc">
                    Technical lead &amp; content manager for the Health2.0 San Francisco chapter &amp; events coordination.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.himssmedia.com/">HIMSS Media</a>
                </span>
                <span class="project-desc">
                    Contributing writer focusing on mobile healthcare privacy, security &amp; project management methodology &amp; health IT start-ups.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.healthtechwomen.com">HealthTechWomen</a>
                </span>
                <span class="project-desc">
                    Guest content contributor for the San Francisco Flagship chapter covering federal level health IT.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://wwww.hitchicks.com">#HITChicks</a>
                </span>
                <span class="project-desc">
                    Technical lead &amp; content manager for health IT mentorship platform connecting young females with resources &amp; veteran health IT leadership.
                </span>
            </li>
             <li class="project">
                <span class="project-name">
                    <a href="http://tedxsf.org">TEDxSF</a>
                </span>
                <span class="project-desc">
                    New media stratigest &amp; A/V support for conferences, events &amp; community meet-ups.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.women2.com">Women2.0</a>
                </span>
                <span class="project-desc">
                       Guest contributor for women's health issues, healthcare policy &amp; technical regulations in the start-up community.
                </span>
                
                
                <li class="project">
                <span class="project-name">
                    <a href="http://www.pyladies.com/">PyLadies</a>
                </span>
                <span class="project-desc">
                     The mothership, and ground zero for my personal development. From <a href="http://www.python.org/psf/">PSF</a> and <a href="https://us.pycon.org/2014/">PyCon</a>, to local code meet-ups and diversity outreach, PyLadies is my go-to source.  Founded the SoFla chapter, and currently contribute to the SF local chapter.
                </span>
            </li>
            </li>
        </ul>
    </div>
</section>





