---
layout: default
---
<section id="about">
    <div class="section-right offset">
        <p class="bio">
            As a healthIT developer currently residing in the San Francisco Bay Area, I have worked on projects ranging from security, medical device regulation, &amp; policy consulting, business planning, diversity outreach, company culture direction, social media strategy, &amp; technology development. I am particularly interested in open healthcare hardware, privacy education, &amp; patient data access.ularly interested in open healthcare hardware, privacy education, &amp; patient data access.
        </p>
    </div>
</section>

<section id="blog">
    <div class="section-title">
        <h2>Writing</h2>
    </div>
    <div class="section-body">
        <ul>
            {% for post in site.posts %}
            <li class="blog-entry">
                <span class="blog-date">
                    {{ post.date | date: "%B %d, %Y" }}
                </span>
                <span class="blog-desc">
                    <a href="{{ post.url }}" class="blog-title">{{ post.title }}</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section id="projects">
    <div class="section-title">
        <h2>Projects</h2>
    </div>
    <div class="section-title">
        <h3>Technical Work</h3>
    </div>
    <div class="section-body">
<ul>
    <li class="project">
        <span class="project-name">
            <a href="http://www.dicomgrid.com">DICOM Grid</a>
        </span>
        <span class="project-desc">
            Senior healthcare IT policy &amp; medical device regulations advisor. Simple, straightforward digital radiology rendering, storage &amp; data transfer support for EHRs, HIEs, CROs, patients &amp; providors.
        </span>
    </li>
            <li class="project">
                <span class="project-name">
                 <a href="http://www.directtrust.org">DirectTrust</a>
                </span>
                <span class="project-desc">
                    Developed business &amp; technical recommendations to automate the <a href="http://www.directtrust.org/accreditation-status/">DirectTrust</a> Trust Anchor Distribution System, including budget, resource allocation, technical requirements, security audit &amp; workflow processes.  Currently helping organizations navigate <a href="http://ehnac.org/">EHNAC</a> DTAAP Accrediation.
                </span>
              </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.getaround.com">Getaround</a>
                </span>
                <span class="project-desc">
                    Hardware <a href="/media/ck3.jpeg">development</a>, <a href="/media/fob.jpeg">prototyping</a>, &amp; troubleshooting contract to expidite the deployment of new hardware into production.  Lead developer for in-house install toolkit using Python, <a href="http://bottlepy.org/docs/dev/index.html">Bottle</a> &amp; SQLite.
                </span>
            </li>
            <li class="project">
                    <span class="project-name">
                    <a href="http://www.google.com/glass/start/what-it-does/">GoogleGlass</a>
                    </span>
                     <span class="project-desc">
                     Project manager developing clinical woundcare healthcare solutions through <a href="http://www.google.com/glass/start/what-it-does/">GoogleGlass</a> &amp; <a href="https://www.thalmic.com/en/myo/">MYO</a> gesture control technology partnering with <a href="http://www.jacksonhealth.org/jackson-memorial.asp">JacksonMemorial</a>, <a href="http://umlsp.com/">UMLSP</a>, &amp; <a href="http://www.rokk3rlabs.co/">Rokk3r Labs</a> in Miami. Focus on image mapping, personal health data analytics &amp; edge trend analysis in diabetic &amp; neuropathic ulcer treatment.
                    </span>
            </li>
        <li class="project">
            <span class="project-name">
                <a href="http://www.cancer.gov/cancertopics/factsheet/clinicaltrials/clinical-trials">Clinical Trials Map</a>
            </span>
            <span class="project-desc">
                    Created a national map directory visualization for ongoing relevent cancer clinical trials within the <a href="http://www.cancer.gov/clinicaltrials">NIH database</a> with <a href="http://scrapy.org/">Scrapy</a> &amp; GoogleMaps on a traditional LAMP stack.
            </span>
        </li>
             <li class="project">
                <span class="project-name">
                    <a href="/media/diabetes-presentation.pdf">Diabetic Utility</a>
                </span>
                <span class="project-desc">
                    Developed a unique email work-around <!-- in collaboration with <a href="http://www.usaarl.army.mil/">USAARL</a> --> to track BGL, activity, mood &amp; health notes in a webapp journal, with graphing, analytics, charting &amp; clinical file format export capabilities to help diabetics collaborate effectively with their care team.
                </span>
            </li>
             <li class="project">
                <span class="project-name">
                    <a href="http://www.doxnosis.org">Doxnosis</a>
                </span>
                <span class="project-desc">
                    Data privacy &amp; ownership rights advocacy group for the health, wellness &amp; medical app market. Nonprofit arm of <a href="http://www.doxnosis.com">Doxnosis</a> clinical analytics &amp; data applications. 
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="/media/hardware_bench.jpg">Hardware Hacker</a>
                </span>
                <span class="project-desc">
                    Several home hacker automation projects involving <a href="/media/p40.jpg">aviation</a>, <a href="/media/arduino.jpeg">Arduino</a>, <a href="/media/rpi.jpeg">RaspberryPi</a>, <a href="http://www.youtube.com/watch?v=sX3jA8qk5H8">3D printing</a> &amp; <a href="/media/rocket.jpeg">programming</a> &amp; other little homebrew projects.
                </span>
            </li>
        </ul>
    </div>
</section>


<section id="speaking">
<div class="section-title">
    <h3>Speaking Engagements</h3>
</div>
    <div class="section-body">
        <ul>
            <li class="project">
                <span class="project-name">
                    <a href="hhttp://www.medicine20congress.com/ocs/index.php/med/med2014/schedConf/cfp">Medicine 2.0</a>
                </span>
                <span class="project-desc">
                   Panelist at the 2014 <a href="http://www.medicine20congress.com/ocs/index.php/med/med2014/paper/view/2734">Bridging the Patient Digital Divide</a> presentation in Maui representing the technical healthIT developer voice. Specifically addressing the excuses for non-adoption of patient collaborative technologies such as mobile health, how the digital divide affects quality of patient care disproportionately, &amp; how these concerns are changing the landscape of healthcare. A actionable, educational, &amp; solution based approach to these issues was at the foundation of the discussion.    
            </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="hhttp://www.http://adacamp.org/">AdaCamp</a>
                </span>
                <span class="project-desc">
                   Speaker at the invite-only 2014 <a href="http://adainitiative.org/">AdaInitiative AdaCamp</a> un-conference in Portland, dedicated to increasing women’s participation in open technology &amp; culture: open source software, Wikipedia-related projects, open data, open geo, open gov, &amp; more. A significant portion of the discussion focused on event safety, discrimination, minority rights, &amp; positive outcomes from including diversity in otherwise homogenous business models.  
            </span>
            </li>

            <li class="project">
                <span class="project-name">
                    <a href="http://healthdatapalooza.org/agenda/code-a-palooza-challenges/">HealthDatapalooza</a>
                </span>
                <span class="project-desc">
                    Presentor at the 2014 HealthDatapalooza in DC on healthcare access deserts as they affect singular patients versus household combinations, elder care, &amp; patients with rare diseases or multiple comorbidities.  Data was analyzed from the <a href="https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Physician-and-Other-Supplier.html">Medicare Provider Payment Data</a> &amp; the potiential use case of ACO developement based upon known care voids was proposed.
            </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="hhttp://www.health2con.com/">Health 2.0</a>
                </span>
                <span class="project-desc">
                    Presentor at the 2013 Health 2.0 in San Francisco on alternative passive data collection, collaboration, &amp; analysis methods for the diabetic population, specifically for lower income populations, those without access to smartphones, or in work environments with prohibitive firewall policies, or no internet access. Engagement model focused on leveraging outbound email with wearable tech, &amp; aggregating information into a weekly/monthly/quarterly report in both human &amp; machine readable format. 
            </span>
            </li>
        </ul>
    </div>
</section>







<section id="community">
    <div class="section-title">
    <h3>Community Involvement</h3>
    </div>
    <div class="section-body">
        <ul>
        <li class="project">
                <span class="project-name">
                    <a href="http://teamfloriduh.com">TeamFloriduh</a>
                </span>
                <span class="project-desc">
                    2014 <a href="http://healthdatapalooza.org/get-involved/code-a-palooza-at-health-datapalooza-2014/">HealthDataPalooza</a> Code-a-thon focused on utilizing recently released <a href="https://www.cms.gov/Research-Statistics-Data-&amp;-Systems/Statistics-Trends-&amp;-Reports/Medicare-Provider-Charge-Data/Physician-&amp;-Other-Supplier.html">Medicare Provider Payment Data</a> to achieve better outcomes for patients.  Specifically looking at healthcare resource voids in rural communities, &amp; local community issues. Out of 76 teams, selected as a top-10 finalist!
            </span>
            </li>
        <li class="project">
                <span class="project-name">
                    <a href="/media/WTFDenied-presentation.pdf">WTFDenied</a>
                </span>
                <span class="project-desc">
                    Placed first in the EoB redesign &amp; <a href="http://www.healthit.gov/buzz-blog/electronic-health-&amp;-medical-records/blue-button-codeathon-unlocking-data-empowering-patients/">BlueButton</a> implementation catagory at the <a href="http://www.health2con.com/devchallenge/code-a-thon-old/">Health2.0/ONC Power to the Patient</a> Hackathon helping re-image how insurance &amp; healthcare claims data is presented to patients.
               </span>
            </li>
            
        <li class="project">
                <span class="project-name">
                    <a href="http://en.wikipedia.org/wiki/Hackathon">Hackathons</a>
                </span>
                <span class="project-desc">
                    Serial SF hackathon-er, including wins at <a href="http://munimobile.herokuapp.com/">Linkedin's HackHERthon</a>, <a href="http://doesparkingsuck.herokuapp.com/">ESPNW</a>, <a href="http://photovoyage.herokuapp.com/">Facebook</a> &amp; <a href="http://makezine.com/2013/10/11/silicon-chef-female-focused-hardware-hackathon/">SiliconChef</a>, and many <a href="http://www.health2con.com/devchallenge/">Health 2.0 Developer Challenges</a> and <a href="http://www.health2con.com/devchallenge/challenges/onc-i2-challenges/">ONC Developer and Designer Challenges</a>.
                </span>
            </li>
            
            
            
        <li class="project">
                <span class="project-name">
                    <a href="http://health2sf.com/">Health2.0 SF</a>
                </span>
                <span class="project-desc">
                    Technical lead &amp; content manager for the Health2.0 San Francisco chapter site &amp; events coordination.
                </span>
            </li>

             <li class="project">
                <span class="project-name">
                    <a href="http://http://adainitiative.org/">Diversity Outreach</a>
                </span>
                <span class="project-desc">
                    Community advocate for practical, high-impact programs that directly mentor, train, recruit &amp; retain women, minorities, LGBTQ &amp; other marginalized groups in business, technology &amp; culture. Recent projects include <a href="http://wwww.himssplzrespond.com">petitioning HIMSS to adopt a Code of Conduct</a> &amp; working on initiatives to include more <a href="https://docs.google.com/spreadsheet/ccc?key=0AgqZgixPQp20dHJvSGdYRTBtUHAweU5vVVhiNDdMMFE&usp=drive_web#gid=0">female speakers at healthcare conferences</a>.
                </span>
            </li>
            
            
            <!-- <li class="project">
                <span class="project-name">
                    <a href="http://wwww.hitchicks.com">#HITChicks</a>
                </span>
                <span class="project-desc">
                    Technical lead &amp; content manager for health IT mentorship platform connecting females entering the healthcare informatics field with availible resources &amp; veteran health IT leadership.
                </span>
            </li>
            

            li class="project">
                <span class="project-name">
                    <a href="http://www.hit100map.com">#HIT100 Map</a>
                </span>
                <span class="project-desc">
                    Developed &amp; maintained a map of all the active health IT social meadia personalities across the US, searchable by gender, roles, locations &amp; activity score.
                </span>
            </li>



            -->
            
            
             <li class="project">
                <span class="project-name">
                    <a href="http://tedxsf.org">TEDxSF</a>
                </span>
                <span class="project-desc">
                    New media stratigest &amp; A/V support for conferences, events &amp; community meet-ups including live streaming &amp; online technical support, event organization, &amp; preparation. 
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.women2.com">Women2.0</a>
                </span>
                <span class="project-desc">
                       Guest contributor focusing on the intersection of women's health, healthcare technology, policy, regulations &amp; diversity in the start-up community.
                </span>
            </li>
                <!-- <li class="project">
                <span class="project-name">
                    <a href="http://www.pyladies.com/">PyLadies Outreach</a>
                </span>
                <span class="project-desc">
                     The mothership, &amp; ground zero for my personal development. From <a href="http://www.python.org/psf/">PSF</a> &amp; <a href="https://us.pycon.org/2014/">PyCon</a>, to local code meet-ups &amp; diversity outreach, PyLadies is my go-to source.  Founded the SoFla chapter, &amp; currently an active member in the SF chapter.
                </span>
            </li> -->

        </ul>
    </div>
</section>





